body{
    background-color: lightblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: blue;
    font-size: 40px;
    text-align: center;
}

p{
    margin-top: 50px;
    margin-left: 10px;
}