* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body,
button{
    font-size: 1.6rem;
    background-color: black;
}

h1{
    color: whitesmoke;
    text-align: center;
}

h1:hover{
    color: cadetblue;
}

button a{
    color: aqua;
}

button a:hover{
    color: burlywood;
}