body{
    background-color: lightsteelblue;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    font-size: 20px;
}

p{
    font-size: 15px;
}