body{
    background-color: aquamarine;
}

h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botao{
    margin: 10px 140px;
}

input{
    width: 300px;
}

#label{
    text-align: justify;
    margin-bottom: 5px;
}