body {
    background-color: aquamarine;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#minhaDiv1{
    background-color: green;
    width: 100px;
    height: 100px;
    position: relative;
}

#minhaDiv2{
    background-color: blue;
    width: 500px;
    height: 500px;
    position: relative;
}
